.burger {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  div {
    width: 2rem;
    height: 0.25rem;
    background: var(--black);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
  }
}

@media (max-width: 560px) {
  .burger.open {
    :first-child {
      transform: translateY(11px);
    }

    :nth-child(3) {
      transform: translateY(-11px);
    }
  }
  .burger {
    display: flex;
  }
}
