.gameInfo {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  font-weight: 800;
  color: var(--white);
  font-size: 1.3rem;
  .gameInfoText {
  }

  button {
    background: var(--black);
    color: var(--white);
    border: 0.1rem solid var(--white);
    padding: 0.4rem 0.9rem;
    border-radius: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    line-height: 1.5;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &:hover {
      color: var(--green);
      border-color: var(--green);
    }
  }
  .temp1 {
    display: block;
  }
  .temp2 {
    display: block;
    font-size: 0.65rem;
    color: var(--green);
  }
}
.rainSweeperWrap {
  background: var(--black);
  padding: 1rem 0;
  display: grid;
  place-content: center;
  grid-auto-flow: row;
  grid-template-rows: 5rem 1fr;
}
.sweepWrap {
  display: grid;
  place-content: center;
  padding: 0.2rem;
  background: var(--gray);
  grid-auto-rows: 2.8rem;
  grid-gap: 0.1rem;
  div {
    border-radius: 0.2rem;
    display: grid;
    align-content: flex-end;
    justify-content: center;
    grid-auto-flow: column;
    transition: background 0.15s ease-out;
    padding: 0.2rem;
    position: relative;
    cursor: pointer;

    &:focus {
      // tried to hide focus for mouse only but things get messy.
      // leave the focus alone.
    }
    // &:focus:not(:focus-visible) {
    //   // unset the above
    //   // outline: unset;
    // }

    // // when being controlled by keyboard use default browser focus.
    // &:focus-visible {
    //   outline: 0.1rem solid var(--black);
    // }

    .date {
      font-size: 0.55rem;
      position: absolute;
      top: 0;
      left: 0.2rem;
      font-weight: 600;
    }
    .nasties {
      font-size: 0.9rem;
      font-weight: bold;
      width: 1.1rem;
      padding: 0.2rem;
      height: 1.1rem;
      display: grid;
      place-content: center;
      border-radius: 0.2rem;
    }
    .spanWrap {
      display: grid;
      grid-auto-flow: column;
      place-content: center;
      align-self: flex-end;
    }

    span[aria-label='Umbrella emoji'] {
      font-size: 0.8rem;
    }
  }
  .wetSquare {
    background: var(--white);
  }
  .drySquare {
    background: var(--white);
  }
  .checked {
    border: 0.2rem solid white;
    border-style: inset;
    background: var(--gray);
    transition: none;
  }
}

@media only screen and (max-width: 500px) {
  .rainSweeperWrap {
     grid-template-rows: auto 1fr;

  }
  .gameInfo {
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;

  }
}
