.nav {
  display: grid;
  align-items: center;
  justify-content: flex-end;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem;
    li {
      a {
        text-decoration: none;
        color: var(--black);
        font-size: 1rem;
        font-weight: 500;
        white-space: nowrap;
        border-radius:  0.2rem;
        padding: 0.1rem 0.3rem;
      }

      a:hover, a:focus {
        background: var(--black);
        color: var(--orange);
      }
      // TODO: investigate - both aria-current and .activePage get lost on page refresh...
      a[aria-current="page"] {
    
        text-decoration: underline;
        text-decoration-color: var(--black);
        text-decoration-thickness: 0.2rem ;
        text-underline-offset: 0.5rem;
      }
      
    }
  }
}

@media (max-width: 560px) {
  .nav.open {
    transform: translateX(0%);
  }
  .nav {
    transform: translateX(100%);
    background: var(--orange);
    height: 100vh;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 2;

    ul {
      grid-auto-flow: row;
      grid-gap: 3rem;
      li {
        a {
          font-size: 1.2rem;
          padding: 1rem 0;
          transition: color 0.3s linear;

          &:hover {
            color: var(--red);
          }
        }
      }
    }
  }
}
